body {
  margin: 0;
  padding: 0;
  background: url(/assets/img/space2.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: azure;
  background-color: rgb(10, 10, 10);
  font-family: "Source Sans 3", sans-serif;
}

/*Заголовок страницы*/
.title {
  text-align: center;
  font-size: 4rem;
}

/*Вступительный текст*/
.text {
  text-align: center;
  font-size: 1.9rem;
  margin-left: 15%;
  margin-right: 15%;
}

/*Обертка для формы*/
.container {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

/*форма*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*блоки для выбора */
.form__find,
.form__number {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

/*поле ввода запросов */
.form__find-item,
.form__number-item {
  background: transparent;
  border: 2px solid azure;
  color: azure;
  font-size: 1rem;
  border-radius: 10px;
  padding: 6px;
}

/*цвет фона выпадающего списка*/
option {
  background: rgba(70, 68, 68, 0.897);
}

/*размер поля выбора числа*/
.form__number-item {
  min-width: 7rem;
  text-align: center;
}

/*кнопка "Поиск"*/
.form__button {
  margin-top: 17px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid azure;
  cursor: pointer;
  width: 10rem;
  background-color: black;
  color: azure;
}

/*блок вывода ошибки в случае незаполненных полей*/
/*блок вывода ошибки, если при загрузке что-то пошло не так*/
.form__error_empty,
.error__text {
  color: red;
  font-size: 1.6rem;
}

/*блок вывода результата поиска*/
.result {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 2rem;
  font-weight: bold;
}

/*параметры шрифта результата поиска*/
.result__text {
  font-style: italic;
}

/*подчеркивание названия выводимой переменной*/
.result__text-span {
  border-bottom: 2px azure dotted;
}
/*блок вывода ошибки, если при загрузке что-то пошло не так*/
.error__text {
  color: red;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1.6rem;
}

/*значок загрузки*/
.spinner {
  height: 30px;
  width: 30px;
  border-left: 3px solid azure;
  border-bottom: 3px solid azure;
  border-right: 3px solid azure;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 1.2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
